@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";

:root {
    --white: rgb(255, 255, 255);
    --green:   #7A9D96 ;
    --light_orange: rgb(224, 199, 121);
    --orange: #DCAE1D;
    --dark_orange: rgb(248, 214, 104);
    --dark_blue: rgb(8, 71, 90);
    --blue: rgb(20, 83, 102);
    --light_blue: #CAE4DB;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

body {
    background-color: #f3f0e6;
    margin: 0px;
    position: relative;

}

* th{
    font-family: 'Alegreya', serif;
}

p{
    font-size: 14px;
}

.navbar {
    width: 100%;
}

.content_container {
    margin: 8px;
}

/* The grid container */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'left middle middle middle middle right' 'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

/* Style the left column */

.left {
    grid-area: left;
}

/* Style the middle column */

.middle {
    grid-area: middle;
    padding: 10px;
    grid-template-columns: 50% 50%;
}

/* Style the right column */

.right {
    grid-area: right;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 'left left left left left left' 'middle middle middle middle middle middle' 'right right right right right right' 'footer footer footer footer footer footer';
    }
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark_blue);
}

.navbar li {
    float: left;
}


.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: var(--blue);
    color: white;
}

.button {
    background-color: var(--orange);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--light_orange);
}

.button:active {
    box-shadow: none;
    top: 5px;
}

/* Style the footer */
.footer {
    background-color: var(--light_orange);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}