
body{
  background-color: #EAE7DC;
  margin:0px;
}
.navbar{
  width: 100%;
	
}
.content_container{
  margin:8px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E98074;
  }
  
.navbar  li {
    float: left;
  }
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: #E85A4F;
    color:black;
  }

