@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";
:root {
    --white: rgb(255, 255, 255);
    --mist: #7A9D96;
    --light_yellow: rgb(224, 199, 121);
    --yellow: #DCAE1D;
    --dark_blue: rgb(8, 71, 90);
    --blue: rgb(20, 83, 102);
    --light_blue: #CAE4DB;
}

* {
    font-family: 'Alegreya', serif;
}

p {
    font-size: 14px;
}

body {
    background-color: #f3f0e6;
    margin: 0px;
    position: relative;
}

.content_container {
    margin: 8px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

/* The grid container */

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  auto 1fr auto;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'left middle middle middle middle right'
        'footer footer footer footer footer footer';
}

.navbar {
    grid-area: nav;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark_blue);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: var(--blue);
    color: white;
}
/* Style the left column */

.left {
    grid-area: left;
}

/* Style the middle column */

.middle {
    grid-area: middle;
    padding: 10px;
    grid-template-columns: 50% 50%;
}

/* Style the right column */

.right {
    grid-area: right;
}

/* Style the footer */

.footer {
    grid-area: footer;
    background-color: var(--light_yellow);
    text-align: center;
    width: 100%;
    height: 2.5em;
    margin-top: 5px
}

.button {
    background-color: var(--yellow);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: .5em;
}

.button:hover {
    background-color: var(--light_yellow);
}

.button:active {
    box-shadow: none;
    top: 5px;
}
.star_rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.star_rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.star_rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.star_rating:not(:checked) > label:before {
    /* content: '★ '; */
}
.star_rating > input:checked ~ label {
    color: #ffc700;    
}
.star_rating:not(:checked) > label:hover,
.star_rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.star_rating > input:checked + label:hover,
.star_rating > input:checked + label:hover ~ label,
.star_rating > input:checked ~ label:hover,
.star_rating > input:checked ~ label:hover ~ label,
.star_rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.external_link:visited, .external_link:link {
text-decoration: none;
}

.external_link:hover {
    color: var(--yellow);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas: 'nav nav nav nav nav nav' 'middle middle middle middle middle middle' 'footer footer footer footer footer footer';
    }
}