{% extends "base.html" %}
{% block head %}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/recipe_index.css') }}">
{% endblock %}
{% block content %}
<h1>Update Recipe</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size = 32) }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=32) }}
        {% for error in form.author.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.link.label }}<br>
        {{ form.link(size=32) }}
        {% for error in form.link.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.ingredients.label }}<br>
        {{ form.ingredients }}
        {% for error in form.ingredients.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <h5>Tags</h5>
    <ul>
        {%for item in form.tags.object_data%}
        <li>{{item.name}} </li>
        {% endfor %}
    </ul>
    <p>Rating:</p>
    <div class="star_rating">
        <input type="radio" id="star5" name="rating" value="5" />
        <label class="fa fa-star" for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label class="fa fa-star" for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label class="fa fa-star" for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label class="fa fa-star"for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label class="fa fa-star" for="star1"></label>
    </div>
    <div class="bloc">
        {{ form.hidden_tag() }}
        {{ form.tags(size = 5) }}
    </div>
    <div class="image_upload">
        {{ form.recipe_image.label }}<br>
        {{ form.recipe_image }}
    </div>
    <p>
        <button type="submit" class="button">Update Recipe</button>
        <a class="button" href="{{ url_for('add_tag') }}">Create New Tag</a>
    </p>
</form>
{% endblock %}