{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container bg-dark-grey py-2">
    <button class="btn btn-primary" id="addTagButton">Add Tag</button>
    <div id="addTagModal" class="addTagModal modal">
        {% include 'add_tag.html' with context %}
    </div>
    <h1>Update Recipe</h1>
    <form class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="row">
                <div class="col form-group">
                    {{ form.title.label }}
                    {{ form.title (class="form-control")}}
                </div>
                <div class="col form-group">
                    {{ form.author.label }}
                    {{ form.author (class="form-control")}}
                </div>
        </div>
        
        <div class="form-group">
            {{ form.link.label }}
            {{ form.link (class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.ingredients.label }}
            {{ form.ingredients (class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.rating.label }}<br>
            <div class="star_rating">
                {% for subfield in form.rating %}
                    {% if loop.index0 < 5%}
                        {{ subfield }}
                        {{ subfield.label (class="fa fa-star") }}
                    {%endif%}
                {% endfor %}
            </div>  
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.tags(size=5,  class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.recipe_image.label }}<br>
            {{ form.recipe_image (type="text", class="form-control")}}
        </div>
        {{ form.submit (class="btn btn-primary")}}
    </form>
</div>
</div>

{% endblock %}