{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="static/css/recipie_index.css">
{% endblock %}
{% block content %}    
    <form action="" method="post" novalidate>
        <div class="bloc">
            {{ form.hidden_tag() }}
            {{ form.tags(size = 5) }}    
        </div>

        <button type="submit" class="btn">Search</button>
        <a class="create_new_tag" href="{{ url_for('add_tag') }}">Create New Tag</a>   
    </form>

    <a href="{{ url_for('add_recipe', tag_id=tag_id) }}">Add Recipe</a>

    {% if recipes %}
    <table id="recipie">
        <tr>
            <th>Recipe Title</th>
            <th>Author</th>
            <th>Link</th>
            <th>Ingredients</td>
            <th>Rating</th>
            <th>Difficulty</th>
            <th>Tried_recipe</th>
            <th>Tags</td>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{ url_for('recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></td>
            <td>{{ recipe.author }}</td>
            <td><a href="#">{{ recipe.link }}</a></td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.rating }}</td>
            <td>{{ recipe.difficulty }}</td>
            <td>{{ recipe.tried_recipe }}</td>
            <td>
                {%for tags in recipe.tags%}
                    <span>{{tags.name}} </span>
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}
