{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="static/css/recipie_index.css">
{% endblock %}
{% block content %}    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.tags(size = 5) }}
        <button type="submit" class="btn">Submit</button>
        <a class="create_new_tag" href="{{ url_for('add_tag') }}">Create New Tag</a>   
    </form>

    <a href="{{ url_for('add_recipe', tag_id=tag_id) }}">Add Recipe</a>

    {% if recipes %}
    <table id="recipie">
        <tr>
            <td>Recipe title</td>
            <td>author</td>
            <td>link</td>
            <td>ingredients</td>
            <td>rating</td>
            <td>difficulty</td>
            <td>tried_recipe</td>
        </tr>
        {% for recipe in recipes %}
        <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.author }}</td>
            <td>{{ recipe.link }}</td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.rating }}</td>
            <td>{{ recipe.difficulty }}</td>
            <td>{{ recipe.tried_recipe }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

{% endblock %}
